
/*-------------GENERAL-----------*/



/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background:  lavender;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: rgb(95, 95, 243);
}
section {
  padding-top: 40px;
}
/* Section Styles */

.main-nav {
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.935);
  min-height: 10px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  font-size: 1.1em;
}
.nav a:hover {
  color: lavender;
}

header {
  text-align: center;
  background: url('images/woodBckgrnd.jpg') no-repeat top center ;
  background-size: 100%;
  overflow: hidden; 
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 3px solid lavender;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(2) rotate(360deg);
}
.tag {
  background-color: lavender;
  color: rgba(0, 0, 0, 0.945);
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.location {
  background-color: rgba(0, 0, 0, 0.935);
  color: lavender;
}

.tag {
  background-color: lavender;
  color: #000000ee;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: rgba(0, 0, 0, 0.924);
  color: lavender;
}

.card-title{
  color: #0499ff;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card:hover {
  border-color: #960496;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: lavender;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

h2{
  color:purple;
  letter-spacing: 2px;
}
  
.card-title {
  background-color: whitesmoke;
  text-align: center;
  border: solid black 3px;
  border-radius: 10px;
 
}
/*---PHOTOS----*/





#gallery {
  list-style: none;
  margin-top: 0px;
  padding-top: 4%;
}

.hover09 h2 {
  padding-top: 55px;
}

#gallery li { 
  display: inline-block;
  padding: 7px;
}

#gallery li img {
  border: 3px groove maroon;
  width: 384px;
  height: 288px;
}

figure {
  width: 384px;
  height: 288px;
	margin: 0;
	padding: 0;
	background: lavender;
	overflow: visible;
}
  
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


.hover09 figure img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover09 figure:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}
